* {
    margin: 0;
    padding: 0;
}

:root {
    --body-back: #fcf6ff;
    --navs-a: #0E0D39;
    --my-space: #FFC543;
}

.custom-container {
    padding: 0 3rem;
}

body {
    background: var(--body-back) !important;
    font-family: 'Space Grotesk';
    overflow-x: hidden;
}

.navbar-nav {
    width: 100%;
}

.nav-item a {
    color: var(--navs-a) !important;
    font-size: 16px;
    font-weight: 500;
}

.nav-item {
    margin: 0 0.3rem;
}



.marketting {
    font-weight: 400 !important;
}

.marketting span {
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
}

.myspace {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    background: var(--my-space);
    border-radius: 25px;
    padding: 1.3rem 2.2rem !important;
    margin: 0 0.6rem;
    box-shadow: rgba(54, 54, 54, 0.3) 0px 8px 24px;
}

.flag {
    width: 30px;
    height: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 4px;
    border-radius: 4px;
}

.mobile-view{
display: flex;
}

a:hover {
    text-decoration: none;
}

/*  */

@media only screen and (max-width:990px){

    .navbar-nav {
        width: 100%;
        display: block !important;
    }
    .mobile-view{
        display: flex;
        justify-content: center;
    }
}